$primary-color:#D14D72;
$secondary-color:#FFABAB;
$terciary-color:#FCC8D1;
$fourth-color:#FEF2F4;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');